/*导航条*/
.navbar-brand{
	padding:15px 15px;
	}
.icon-people{
	color:#2c99ea;
	font-size:18px;
	}
.icon-people:hover{
	color:#fff;
	}
.navbar{
	border:0;
	}
/*导航条*/

/*轮播*/
.container-fluid{
	padding-left:0;
	padding-right:0;
	}
.carousel-inner .item img.img1{
	min-height:677px;
	width:100%;
	} 
.cms_system h1{
	font-size:60px;
	}	
.cms_system p{
	font-size:18px;
	}
.download{
	width:230px;
	height:50px;
	border:1px solid #fff;
	background:transparent;
	color:#fff;
	margin:40px 0;
	}
.download:hover{
	background: rgba(255,255,255,0.3);
	color:#fff;
	}
.number{
	width:1120px;
	height:150px;
	padding:10px;
	background: rgba(255,255,255,0.3);
	margin:40px auto;
	}	
.number li{
	float:left;
	width:363px;
	font-size:16px;
	list-style:none;
	border-right:1px solid #fff;
	}
.number li strong{
	font-size:70px;
	}
.number li span{
	font-size:20px;
	}	
.number .number_last{
	border-right:0;
	}
.system_last p{
	font-size:12px;
	}
/*轮播*/
.case{
	margin-bottom:0;
	}
/*缩略图*/
input,textarea,select{outline:none;border:none;background:none;}
textarea{resize:none;}
.clearfix:before, .clearfix:after {content:""; display:table; }
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
 a{
     color:#333;
     text-decoration: none;
 }
 
.box{
     width: 1177px;
     margin-bottom:30px;
 }
   
.content_list{
     width: 1177px;
     height: 510px;
     position: relative;
     overflow:hidden;
 }
 .list{
     clear:both;
     overflow: hidden;
     width: 2600px;
     position: absolute;
     margin-top: 20px;
 }
 .list div{
     float: left;
     width: 379px;
     height: 404px;
     margin:0 6px;
     background: #fff;
 }
 .list div p,.list div h3{
     padding:0 5px;
     line-height: 34px;
 }
 .btn span.iconfont{		
 	 border:0;
	 padding:0 20px;
 }
 .prv{
     margin:25px 0;
     text-align: center;
     position: absolute;
     bottom: 0;
     left:0;
     width: 100%;
	 
 }
 .prv span{
     display: inline-block;
     padding:12px 16px;
     border:1px solid #333;
     cursor:pointer;
     background: #fff;
 }
.list a:hover{
	color: #333;
	text-decoration: none;
}
/*缩略图*/


.case{
	background:none;
	}
.case h2{
	font-size:40px;
	}
.case p{
	font-size:18px;
	}	
.lvye_images img{
	width:100%;
	}
	
/*列表*/	
.more{
	text-align:center;
	margin-top:80px;
	}	
.btn-default span.iconfont{
	font-size:30px;
	color:#616161;
	}	
.btn-default{
	border-color:#666;
	}
/*列表*/

.color-text{
	margin-top:100px;
	color:#fff;
	}
.full_top{
	margin-top:60px;
	}
.full_bg{
	padding-bottom:60px;
	}	
.full_bg h2{
	font-size:40px;
	}
.full_bg p{
	font-size:18px;
	}
.case_three{
	background:none;
	}
.case_three h2{
	font-size:40px;
	}
.case_three p{
	font-size:18px;
	}
.carousel-inner .item img.img2{
	min-height:300px;
	}
.decoration{
	background:none;
	}
.decoration h3{
	font-size:40px;
	padding-top:20px;
	}
.decoration span{
	display:block;
	font-size:20px;
	color:#66b8f7;
	padding-top:20px;
	}
.decoration p{
	font-size:14px;
	padding-top:30px;
	}
	
/*左右箭头*/
.more_icon{
	margin-top:300px;
	}
.more_icon_font	b{
	font-size:36px;
	}
.more_see{
	margin-top:100px;
	}
.more_see a{
	color:#333;
	}
.more_see a.btn{
	padding:5px 30px;
	}
.more_see a span.iconfont{
	color:#333;
	font-size:20px;
	}
/*左右箭头*/	
	
/*服务帮助*/
.media a.media-left{
	text-decoration:none;
	}
.media-left p{
	color:#666;
	font-size:16px;
	margin:0;
	}
.media-left h2{
	color:#666;
	font-size:30px;
	margin-bottom:0;
	margin-top:0;
	}
.media-body{
	padding-left:100px;
	padding-top:0;
	width:600px;
	}	
.inform{
	padding:20px 20px;
	background:#fff;
	margin-top:25px;
	}
.media-body span{
	float:right;
	color:#747474;
	}
.media-body h4{
	color:#63a1e4;
	font-size:18px;
	padding-bottom:10px;
	}
.media-body p{	
	color:#666;
	}
/*热门*/
.hot{
	padding-left:70px;
	background:#fff;
	margin-top:25px;
	}
.hot .hot_topic{
	text-decoration:none;
	font-size:24px;
	color:#333333;
	border-bottom:3px solid red;
	}
.body{
	border-bottom:1px solid #e6e6e6;
	border-top:1px solid #e6e6e6;
	padding:10px 10px !important;
	}
.cauma{
	border-top:0;
	}
.body h4{
	color:#63a1e4;
	font-size:18px;
	padding-bottom:10px;
	}
.body p{	
	color:#666;
	}
.more_look{
	padding-top:40px;
	padding-bottom:20px;
	}
.btn_look{
	padding:5px 30px;
	}
.btn span.iconfont{
	font-size:20px;
	}
/*热门*/

/*服务帮助*/
.polygon{
	border:0;
	}
	
/*注册底部*/
.white{
	background:#fff;
	padding:70px 0;
	}
.white_one img{
	margin-left:0;
	color: #666;
	}
.www_reserve2 p{
	color:#666;
	font-size:12px;
	}
.foot_about2{
	float:left;
	padding:0 30px;
	}
.foot_about2 h4{
	font-size:20px;
	color:#333;
	}
.foot_about2 p{
	font-size:14px;
	color:#333;
	}
.iconfont_share span{
	display:inline-block;
	font-size:28px;
	color:#666;
	padding:0;
	}
/*注册底部*/

/*底部*/
.blue{
	background:#3f8de8;
	padding:70px 0;
	}
.blue_one{
	background:transparent;
	border:0;
	
	}
.blue_one img{
	margin-left:0;
	}
.www_reserve p{
	color:#fff;
	font-size:12px;
	}
.footer_size{
	width:1320px;
	}
.foot_about{
	float:left;
	padding:0 30px;
	}
.foot_about h4{
	font-size:20px;
	color:#fff;
	}
.foot_about p{
	font-size:14px;
	color:#fff;
	}
.iconfont_share span{
	display:inline-block;
	font-size:28px;
	color:#fff;
	padding:0;
	}
#tubiao{
	font-size:35px;
	}
#tubiao3{
	font-size:36px;
	}
#tubiao4{
	font-size:40px;
	}
/*底部*/

/*第二个trait页面*/
.uninx{
	padding: 75px 0;
	}
.download2{
	width:230px;
	height:50px;
	border:1px solid #fff;
	background:transparent;
	color:#fff;
	margin:100px 0;
	}
.download2:hover{
	background: rgba(255,255,255,0.3);
	color:#fff;
	}

.content{
	margin-top:30px;
	}
.chose{
	background:none;
	padding:100px 0;
	margin-bottom:0;
	}
.chose h3{
	font-size:26px;
	color:#333;
	}
.chose p{
	font-size:16px;
	color:#333;
	}
	
/* 缩略图*/
.shrink_yuan h3{
	font-size:22px;
	color:#333;
	}
.shrink_yuan p{
	font-size:16px;
	color:#333;
	}

/* 缩略图*/
/*第二个trait页面*/


/*第三个example页面*/
.cms_system2{
	margin-bottom:220px; 
}
.cms_system2 h1{
	font-size:60px;
	}	
.cms_system2 p{
	font-size:18px;
	}

.pagination > li > a{
	padding: 6px 11px;2
}
/*第三个example页面*/

/*第四个help页面*/
.input_biaodan{
	margin:140px auto;
}
.input_biaodan .text_biaodan{
	width:500px;
	height: 50px;
}
.input_biaodan .text_button{
	width:100px;
	height: 50px;
	background: #1f9bf7;
	color: #fff;
	border: 0;
}


.button_large{
	background:#1f9bf7;
	}
.button_large span{
	color:#fff;
	text-align:center;
	}
.panel-title a{
	text-decoration: none;
	}
.install_content{
	background:#fff;
	}
.panel-title .rank_install{
	color:#2c99ea;
	padding-left:8px;
	}
.panel-default{
	border:0;
	background:#fff;
	}
.panel-body .install_blue a{
	color:#2c99ea;
	font-size:14px;
	padding-left:30px;
	}
.panel-body .install_gray a{
	color:#999999;
	font-size:12px;
	padding-left:30px;
	}


	
.strong_size1{
	font-size:16px;
	color:#666;
	}
.strong_size1 b{
	color:#333;
	}
.strong_size2{
	font-size:20px;
	color:#333;
	}
.strong_size3{
	font-size:12px;
	color:#a1a1a1;
	}
.strong_size4{
	font-size:14px;
	color:#747474;
	}
.text_attention1{
	margin-top:20px;
	}
.text_attention2{
	margin-top:40px;
	}
.strong_fore{
	display:block;
	padding:30px 0;
	}
.strong_for{
	color:red;
	font-size:14px;
	}
.text_last{
	border-top:1px solid #e4e4e4;
	margin-top:60px;
	margin-bottom:60px;
	}
.last_p{
	font-size:18px;
	font-weight:600;
	color:#666;
	padding:10px 0;
	}
.last_span{
	font-size:18px;
	font-weight:600;
	color:#2c99ea;
	}

.cms_system3{
	margin-bottom:0px; 
	}
.cms_system3 h1{
	font-size:60px;
	}	
.cms_system3 p{
	font-size:18px;
	}
/*第四个help页面*/

/*第五个example页面*/
.cms_system4{
	margin-bottom:220px; 
}
.cms_system4 h1{
	font-size:28px;
	}	
.cms_system4 p{
	font-size:16px;
	}
.register{
	width: 350px;
	height: 330px;
	background: #fff;
}
/*第五个example页面*/






/*媒体查询*/
@media(max-width:1370px){
.number{
	width:791px;
	height:150px;
	padding:10px;
	background: rgba(255,255,255,0.3);
	margin:40px auto;
	}	
.number li{
	float:left;
	width:255px;
	font-size:16px;
	list-style:none;
	border-right:1px solid #fff;
	}
	.cms_system2{
		margin-bottom:130px; 
		}
	.cms_system2 h1{
		font-size:50px;
		}	
	.cms_system2 p{
		font-size:16px;
		}
	.cms_system3{
		margin-bottom:0px; 
		}
	.cms_system3 h1{
		font-size:50px;
		}	
	.cms_system3 p{
		font-size:16px;
		}
	.download2{
		width:200px;
		height:45px;
		border:1px solid #fff;
		background:transparent;
		color:#fff;
		margin:40px 0;
		}

	/*第四个help页面*/
	.input_biaodan{
		margin:100px auto;
	}
	.input_biaodan .text_biaodan{
		width:500px;
		height: 50px;
	}
	.input_biaodan .text_button{
		width:100px;
		height: 50px;
		background: #1f9bf7;
		color: #fff;
		border: 0;
	}
}

@media(max-width:1280px){
	/*底部*/
	.iconfont_share span{
		font-size: 20px;
		padding:0;
		}
	#tubiao{
		font-size:24px;
		}
	#tubiao3{
		font-size:26px;
		}
	#tubiao4{
		font-size:30px;
		}
	/*底部*/
	.cms_system2{
		margin-bottom:130px; 
		}
	.cms_system2 h1{
		font-size:50px;
		}	
	.cms_system2 p{
		font-size:16px;
		}
	.cms_system3{
		margin-bottom:0px; 
		}
	.cms_system3 h1{
		font-size:50px;
		}	
	.cms_system3 p{
		font-size:16px;
		}
	.download2{
		width:200px;
		height:45px;
		border:1px solid #fff;
		background:transparent;
		color:#fff;
		margin:40px 0;
		}

.box{
     width: auto;
     margin:0px auto;
 }
.list_width{
 	padding:0;
 }
.content_list{
     width: auto;
     height: 510px;
     position: relative;
     overflow:hidden;
 }
.list div{
     float: left;
     width: 383px;
     height: 404px;
     margin:0 6px;
     background: #fff;
 }
	}

@media(max-width:980px){
	.nav > li > a.nav_one{
		padding: 25px 10px;
		}
	.cms_system h1{
		font-size:30px;
		}	
	.cms_system p{
		font-size:16px;
		}
	.download{
		width:auto;
		height:35px;
		border:1px solid #fff;
		background:transparent;
		color:#fff;
		line-height: 35px;
		margin:5px auto;
		padding: 0 15px;
		}
	.carousel-inner .item img.img1{
		min-height:250px;
		} 
	.carousel-inner .item img.img2{
		min-height:300px;
		} 
	.carousel-inner .item img.img3{
		min-height:200px;
		} 
	.btn-default span.iconfont{
		font-size:14px;
		color:#616161;
		}
	.more_icon{
		margin-top:0px;
		}
	.more_see{
		margin-top:0px;
		}	
	.more_icon_font	b{
		font-size:26px;
		}
	
	.full_bg{
		padding-bottom:0px;
		}
	.full_bg h2{
		font-size:30px;
		}
	.full_bg p{
		font-size:16px;
		}
	.decoration h3{
		font-size:26px;
		padding-top:20px;
		}

	/*底部*/
	.footer_size{
		width:auto;
		}
	.foot_about{
		float:left;
		padding:0 8px;
		text-align:left;
		}	
	.iconfont_share span{
		padding:0;
		}
	#tubiao{
		font-size:30px;
		}
	#tubiao3{
		font-size:31px;
		}
	#tubiao4{
		font-size:35px;
		}
	/*底部*/
	
	/*第二个trait页面*/
	.download2{
		width:230px;
		height:50px;
		border:1px solid #fff;
		background:transparent;
		color:#fff;
		margin:7px 0;
		}
	/*第二个trait页面*/

	/*第三个example页面*/
	.cms_system2{
		margin-bottom:70px; 
		}
	.cms_system2 h1{
		font-size:30px;
		}	
	.cms_system2 p{
		font-size:16px;
		}
	.cms_system3{
		margin-bottom:0px; 
		}
	.cms_system3 h1{
		font-size:30px;
		}	
	.cms_system3 p{
		font-size:16px;
		}
	/*第三个example页面*/
	
	.box{
	     width: auto;
	     margin:0px auto;
	 }
	.list_width{
	 	padding:0;
	 }
	.content_list{
	     width: auto;
	     height: 510px;
	     position: relative;
	     overflow:hidden;
	 }
	.list div{
	     float: left;
	     width: 362px;
	     height: 404px;
	     margin:0 6px;
	     background: #fff;
	 }

 	.input_biaodan{
		margin:20px auto;
	}
	.input_biaodan .text_biaodan{
		width:400px;
		height: 45px;
	}
	.input_biaodan .text_button{
		width:80px;
		height: 45px;
		background: #1f9bf7;
		color: #fff;
		border: 0;
	}
	}
	
@media(max-width:768px){
	.nav > li > a.nav_one{
		padding: 25px 10px;
		}
	.cms_system h1{
		font-size:35px;
		}	
	.cms_system p{
		font-size:16px;
		}
	.carousel-inner .item img.img1{
		min-height:300px;
		} 
	.carousel-inner .item img.img2{
		min-height:300px;
		} 
	.download{
		width:auto;
		height:35px;
		border:1px solid #fff;
		background:transparent;
		color:#fff;
		line-height: 35px;
		margin:5px auto;
		padding: 0 15px;
		}
	.more_icon{
		margin-top:0px;
		}
	.more_see{
		margin-top:0px;
		}
	.more_icon_font	b{
		font-size:16px;
		}
	.decoration h3{
		font-size:26px;
		padding-top:20px;
		}
	.full_bg{
		padding-bottom:30px;
		}

	/*底部*/
	.footer_size{
		width:auto;
		}
	.foot_about{
		float:left;
		padding:0 5px;
		text-align:left;
		}	
	.iconfont_share span{
		padding:0;
		}
	#tubiao{
		font-size:30px;
		}
	#tubiao3{
		font-size:31px;
		}
	#tubiao4{
		font-size:35px;
		}
	/*底部*/
	
	/*第二个trait页面*/
	.chose{	
		padding:50px 0;
		}
	
	.download2{
		width:200px;
		height:45px;
		border:1px solid #fff;
		background:transparent;
		color:#fff;
		margin:0px 0;
		}
	/*第二个trait页面*/

	/*第三个example页面*/
	
	/*第三个example页面*/

	.box{
	     width: auto;
	     margin:0px auto;
	 }
	.list_width{
	 	padding:0;
	 }
	.content_list{
	     width: auto;
	     height: 510px;
	     position: relative;
	     overflow:hidden;
	 }
	.list div{
	     float: left;
	     width: 362px;
	     height: 404px;
	     margin:0 6px;
	     background: #fff;
	 }

	.input_biaodan{
		margin:20px auto;
	}
	.input_biaodan .text_biaodan{
		width:400px;
		height: 45px;
	}
	.input_biaodan .text_button{
		width:80px;
		height: 45px;
		background: #1f9bf7;
		color: #fff;
		border: 0;
	}
}
	
@media(max-width:400px){
	.full_bg h2{
		font-size:30px;
		}
	.full_bg p{
		font-size:16px;
		}
		
	.nav > li > a.nav_one{
		padding: 15px 10px;
		}
	.cms_system h1{
		font-size:24px;
		}	
	.cms_system p{
		font-size:16px;
		}
	.carousel-inner .item img.img1{
		min-height:300px !important;
		} 
	.carousel-inner .item img.img2{
		min-height:300px;
		}
	.more_icon{
		margin-top:0px;
		}
	.more_see{
		margin-top:0px;
		}
	.more_icon_font	b{
		font-size:16px;
		}
	.decoration h3{
		font-size:26px;
		padding-top:20px;
		}
	.full_bg{
		padding-bottom:20px;
		}

	.media-body {
    	padding-left: 0px;
		}
	.hot {
    	padding-left: 38px;
		}

	/*底部*/
	.footer_size{
		width:auto;
		}
	.foot_about{
		float:left;
		padding:0 5px;
		text-align:left;
		}	
	.iconfont_share span{
		padding:0;
		}
	#tubiao{
		font-size:30px;
		}
	#tubiao3{
		font-size:31px;
		}
	#tubiao4{
		font-size:35px;
		}
	/*底部*/

	/*第二个trait页面*/
	.download2{
		width:130px;
		height:35px;
		border:1px solid #fff;
		background:transparent;
		color:#fff;
		line-height: 35px;
		margin:15px 0;
		padding: 0;
		}
	.cms_system3{
		margin-bottom:0px; 
		}
	.cms_system3 h1{
		font-size:24px;
		}	
	.cms_system3 p{
		font-size:14px;
		}
	/*第二个trait页面*/

	/*第三个example页面*/
	.cms_system2{
		margin-bottom:50px; 
		}
	.cms_system2 h1{
		font-size:26px;
		}	
	.cms_system2 p{
		font-size:14px;
		}
	/*第三个example页面*/

	.box{
	     width: auto;
	     margin:0px auto;
	 }
	.list_width{
	 	padding:0;
	 }
	.content_list{
	     width: auto;
	     height: 510px;
	     position: relative;
	     overflow:hidden;
	 }
	.list div{
	     float: left;
	     width: 308px;
	     height: 404px;
	     margin:0 6px;
	     background: #fff;
	 }

 	.input_biaodan{
		margin:30px auto;
	}
	.input_biaodan .text_biaodan{
		width:200px;
		height: 35px;
	}
	.input_biaodan .text_button{
		width:50px;
		height: 35px;
		background: #1f9bf7;
		color: #fff;
		border: 0;
	}
	.strong_size2{
		font-size:18px;
		color:#333;
		}
}
	

